.banner{
 
    background:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("../public/images/img2.jpeg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
}